@model IEnumerable<Inventory_Crud.Models.DataBases.Categories>

<select class="form-control" name="category">
    <option value="">All</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select> 