@model IEnumerable<Inventory_Crud.Models.DataBases.Categories>


<link href="" rel="stylesheet" />



<select class="js-example-basic-multiple w-100 " id="category" name="category" multiple="multiple" ;">
    <option value="">All</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>




