
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}
body{
background-color: #f8f8f8;
}
.ProseMirror a{
  cursor: pointer;
  color: blue;
}
.ProseMirror *{
  margin: 0;
}
.ProseMirror p.is-editor-empty:first-child::before{
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  float: left;
  height: 0;
}


