@model Inventory_Crud.Models.DashBoardVM

@{
    ViewData["Title"] = "Create";


}



<h1>Add New Product</h1>

<h4>Inventory</h4>
<hr />
<div class="row">

    <div class="col-md-8">
        <form asp-action="Create" class="d-grid">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <div class="row">

                <div class="form-group col-6">
                    <label asp-for="Inventories.First().Name" class="control-label"></label>
                    <input asp-for="Inventories.First().Name" class="form-control" placeholder="Enter Your Name" />
                    <span asp-validation-for="Inventories.First().Name" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Category" class="control-label"></label>
                    @* <input asp-for="Category" class="form-control"  placeholder="Enter Category"/> *@

                   
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Inventories.First().Price" class="control-label"></label>
                    <input asp-for="Inventories.First().Price" class="form-control" type="number" placeholder="₹" />
                    <span asp-validation-for="Inventories.First().Price" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Inventories.First().Quantity" class="control-label"></label>
                    <input asp-for="Inventories.First().Quantity" class="form-control" type="number" placeholder="Enter Quantity" />
                    <span asp-validation-for="Inventories.First().Quantity" class="text-danger"></span>
                </div>



                <div class="form-group col-6">
                    <label asp-for="Inventories.First().Discription" class="control-label"></label>
                    <Textarea asp-for="Inventories.First().Discription" class="form-control " rows="5" style="resize:none;">  </Textarea>
                    <span asp-validation-for="Inventories.First().Discription" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-2">
                    <label asp-for="Inventories.First().CreatedDate" class="control-label"></label>
                    <input asp-for="Inventories.First().CreatedDate" class="form-control" />

                    <span asp-validation-for="Inventories.First().CreatedDate" class="text-danger"></span>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mt-3">
                        <label asp-for="Inventories.First().ExpiryDate" class="control-label"></label>
                        <input asp-for="Inventories.First().ExpiryDate" class="form-control" />
                        <span asp-validation-for="Inventories.First().ExpiryDate" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary w-25 " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
